<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

            <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>CodingNomads - Portfolio page</title>
</head>
<body>
      <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark sticky-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="https://codingnomads.co"><img src="{% static 'CN_Logo_Retina.png' %}" alt="codingnomad-log" width="200" height="66"></a>

                <ul class="navbar-nav align-items-end mr-auto">
                  <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                          <!--<li class="nav-item"><a class="nav-item nav-link" href="#"><span class="fa fa-info"></span>About</a></li>-->
                          <!--<li class="nav-item"><a class="nav-item nav-link" href="{% url 'app_port:edit'%}"><span class="fa fa-edit"></span>Edit</a></li>-->
                    </div>
                    </li>
                   </div>
                </ul>
                <!--display on the right-->
                <div class="navbar-nav">
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'app_port:main' %}" style="color: black"><span class="fa fa-home"></span>Main</a></li>
                    {% if user.is_authenticated %}
                          <a class="nav-item nav-link" href="{% url 'app_port:edit'%}" style="color: black"> <span class="fa fa-edit"></span><b>Hello, {{user.username}}!</b> </a>
                          <a class="nav-item nav-link" href="{% url 'app_user:logout' %}" style="color: black">Log out</a>
                            {% else %}
                          <a class="nav-item nav-link" href="{% url 'app_user:login' %}" style="color: black">Login</a>
                          <a class="nav-item nav-link" href="{% url 'app_user:register' %}" style="color: black">Register</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </header>

      <br><br>
   <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-md-0">
        </div>
      </div>
       <br>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>