    {% extends "base.html" %}

{% block content %}
<legend class="border-bottom mb-4">
    <h5>Hello {{user.username.title}}! Edit your profile here.</h5>
</legend>


<form action="{% url 'app_port:edit' %}" method="post" enctype="multipart/form-data" id="form1">
    <div class="row">
        <div class="col-sm-3">
            {% if user.profile.picture %}
                <img class="rounded-circle" src="{{user.profile.picture.url}}" alt="profile picture" width="100%"><br>
            {% endif %}
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <input type="file" onchange="this.form.submit()" name="picture" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Select profile picture</label>
                </div>
            </div>
        </div>


        <div class="col-sm-9">
            <div class="form-row">
                <input type="submit" name="save_profile" value="Save profile" form="form1" class="btn btn-info">
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-2">
                    First name
                </div>
                <div class="col-sm-10">
                    <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2">
                    Last name
                </div>
                <div class="col-sm-10">
                    <input type="text" name="last_name" value="{{user.last_name}}" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2">
                    Bio
                </div>
                <div class="col-sm-10">
                    <textarea name="bio" class="form-control" style="height: 160px">{{user.profile.bio}} </textarea>
                </div>
            </div>
            <div class="form-row">

                <div class="form-check">
                 {% if user.profile.ready == False %}
                    <input class="form-check-input" type="checkbox" name="ready" value="True" id="no">
                 {% else %}
                    <input class="form-check-input" type="checkbox" checked name="False" value="change" id="yes">
                 {% endif %}
                  <label class="form-check-label" for="yes">
                    Ready to publish
                  </label>
                </div>

            </div>
        </div>
    </div>


        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
              <input type="submit" name="new_channel" value="Add channel" class="btn btn-success" form="form1">
              <input type="submit" name="delete_channel" value="Delete selected channels" form="form1" class="btn btn-secondary">
                <br><br>
                {% for channel in channels %}
                 <div class="form-row">
                    <div class="col-2">
                      Delete <input type="checkbox" name="delete" value="chan{{ channel.id }}" >
                    </div>
                    <div class="col-4">
                      <input type="text" name="chan{{channel.id}}" value="{{channel.name}}" class="form-control" >
                        </div>
                    <div class="col-6">
                      <input type="text" name="chan{{channel.id}}" value="{{channel.url}}" class="form-control" >
                    </div>
                 </div>
                    <br>
                {% endfor %}
            </div>

            <div class="col-sm-6">
                <input type="submit" name="new_project" value="Add project" class="btn btn-success" form="form1">
                <input type="submit" name="delete_project" value="Delete selected projects" form="form1" class="btn btn-secondary">
                <br><br>
                {% for project in projects %}
                    <div class="form-row">
                        <div class="col-2">
                            Delete <input type="checkbox" name="delete" value="proj{{ project.id }}">
                        </div>
                        <div class="col-4">
                            <input type="text" name="proj{{project.id}}" value="{{project.name}}" class="form-control">
                        </div>
                        <div class="col-6">
                            <input type="text" name="proj{{project.id}}" value="{{project.url}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                             <textarea name="proj{{project.id}}" class="form-control">{{project.description}}</textarea>
                        </div>
                    </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </form>


{% endblock %}
