{% extends "base.html" %}

{% block content %}
    <h5>edit page</h5>

<br>
<input type="submit" name="save_profile" value="Save profile" form="form1">
<input type="submit" name="delete_items" value="Delete selected" form="form1">

<form action="{% url 'app_port:edit' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="project_new" value="Add project">
</form>

<form action="{% url 'app_port:edit' %}" method="post" id="all_projects">
    {% csrf_token %}
    <input type="submit" name="channel_new" value="Add channel">
</form>

<form action="{% url 'app_port:edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="picture">
    <button type="submit">Upload</button>
</form>

<form action="{% url 'app_port:edit' %}" method="post" id="form1">
    {% csrf_token %}
    <p>{{user.username}}</p>

    <br>

    <img src="{{user.profile.picture.url}}" alt="profile picture" width="240"> <br>
<!--    <input type="file" name="picture" accept="image/*">-->

    <table class="table">
          <tbody>
          <tr>
              <td>First name</td>
              <td><input type="text" name="first_name" value="{{user.first_name}}"></td>
          </tr>
          <tr>
              <td>Last name</td>
              <td><input type="text" name="last_name" value="{{user.last_name}}"></td>
          </tr>
          <tr>
              <td>Bio</td>
              <td><textarea name="bio" cols="30" rows="10">{{user.profile.bio}} </textarea></td>
          </tr>
          </tbody>
        </table>
    <p>
        {% for tag in tags %}
        {{tag.name}}
        {% endfor %}
    </p>

    <table class="table">
      <tbody>
      {% for channel in channels %}
      <tr>
          <td>Delete <input type="checkbox" name="delete" value="chan{{ channel.id }}"></td>
          <td scope="col"><input type="text" name="chan{{channel.id}}" value="{{channel.name}}"></td>
          <td><input type="text" name="chan{{channel.id}}" value="{{channel.url}}"></td>
      </tr>
      {% endfor %}

      </tbody>
    </table>

    <table class="table">
      <tbody>
      {% for project in projects %}
      <tr>
          <td scope="col"><input type="text" name="proj{{project.id}}" value="{{project.name}}">
              <br> <br>
              <input type="text" name="proj{{project.id}}" value="{{project.url}}">
              <br><br>
              Delete <input type="checkbox" name="delete" value="proj{{ project.id }}">
          </td>
          <td scope="col"><textarea name="proj{{project.id}}" cols="30" rows="10">{{project.description}}</textarea></td>
          <td scope="col"></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

</form>

{% endblock %}
