{% extends "base.html" %}
{% load static %}
{% block content %}
<h5>Choose your tags:</h5>

<!--{% for person in profile_chosen.values%}-->
<!--{% for p in person%}-->
    <!--<p>{{p.first_name}} {{p.last_name}}: {{p.bio}}</p>-->
<!--{%endfor%}{%endfor%}-->


<p>{% if just_logged_out %}  You are successfully logged out {% endif %}</p>


<form method="post">{%csrf_token%}

{% for tag in tags %}
    {% if choices %}
        {% for i in choices.values %}
                {% if tag.name in i %}
                    <div class="btn-group">
                      <button type="submit" class="btn btn-primary active" name="tag" value="{{tag.name}}">{{tag.name}}</button>
                    </div>
                {% else %}
                    <div class="btn-group">
                      <button type="submit" class="btn btn-primary" name="tag" value="{{tag.name}}">{{tag.name}}</button>
                    </div>
                {% endif %}
        {% endfor %}
    {% else %}
        <div class="btn-group">
              <button type="submit" class="btn btn-primary" name="tag" value="{{tag.name}}">{{tag.name}}</button>
        </div>
    {% endif %}
{% endfor %}

</form>

<br>
<div class="container weeks">

    <div class="row">
    <div class="col-12" style="background-color:LightGray;">

          <div class="row">
          {% if choices %}
             {% for chosen in profile_chosen.values%}
                {% for person in chosen%}
                    {%for p in person %}

                    <div class="col" style="background-color:transparent;">
                              <div class="card" style="width:200px"><div class="text-center">
                                <img class="rounded-circle" src="{{p.picture.url}}" alt="Card image" style="width:80%"></div>
                                <div class="card-body">
                                  <p class="card-title">{{p.user.first_name.title}} {{p.user.last_name.title}}{{p.user.id}}</p>
                                  <p class="card-text"><small>{{p.bio|truncatechars:47}}...</small>
                                      <a href="{% url 'app_port:profile' p.user.id  %}" class="card-link"><small>Read more</small></a></p>

                                </div>
                              </div>
                        <br>
                    </div>
                    {% endfor %}
                {% endfor %}
             {% endfor %}
          {% else %}

             {% for p in profile %}

                    <div class="col" style="background-color:black;">
                              <div class="card" style="width:200px"><div class="text-center">
                                <img class="rounded-circle" src="{{p.picture.url}}" alt="Card image" style="width:80%"></div>
                                <div class="card-body">
                                  <p class="card-title">{{p.user.first_name.title}} {{p.user.last_name.title}}</p>
                                  <p class="card-text"><small>{{p.bio|truncatechars:47}}...</small>
                                      <a href="{% url 'app_port:profile' p.user.id  %}" class="card-link"><small>Read more</small></a></p>
                                </div>
                              </div>
                        <br>
                    </div>
             {% endfor %}

          {% endif %}


          </div>

    </div>
    </div>
</div>

{% endblock %}