{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% if user.profile.picture %}
            <img src="{{user.profile.picture.url}}" alt="profile picture" width="90%"><br>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <div class="row">
            <h4>Hi! I am {{user.first_name}} {{user.last_name}},</h4>
        </div>
         <div class="row">
             <div class="col">
                 <p>{{user.profile.bio}}</p>
             </div>
         </div>
         <div class="row">
             <div class="col">
             {% if tags %}
                {% for tag in tags %}
                 <span class="badge badge-pill badge-primary">{{tag.name}}</span>
                {% endfor %}
            {% endif %}
             </div>
         </div>
    </div>

    <div class="col-sm-3">
        <div class="row">
            <h4>Follow or contact me:</h4>
        </div>
        {% for channel in channels %}
        <div class="row">
            <a href="{{channel.url}}">{{channel.name}}</a>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<div class="row">
    <div class="col">
         <h4>Projects I worked on:</h4>
        {% for project in projects %}
            <div class="row">
                <div class="col">
                    <h4><a href="{{project.url}}">{{project.name}}</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{project.description}}
                </div>
            </div>
        <br>
        {% endfor %}
    </div>
</div>



{% endblock %}
